/* Reset browser formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root pseudo class for variables */
:root {
  --main-header-color: #e287eb;
  --main-bg-color: #fff1fd;
  --main-text-color: #50404d;
  --src-code-color: #ca71da;
  --src-code-hover: #d958e0;
  --input-bg-color: #eed4f1;
  --btn-bg-color: #ed91ee;
  --btn-border-color: #ac62c7;
  --btn-text-color: #fff;
  --btn-focus-color: #f5aaf5;
  --main-border-color: #d7a2db;
}

body {
  background: var(--main-bg-color);
  font-family: Arial, sans-serif;
  margin: auto;
}

main {
  width: 90%;
  margin: auto;
}

h1, h2 {
  color: var(--main-header-color);
  text-align: center;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin-bottom: 10px;
}

p {
  color: var(--main-text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--src-code-color);
}

a:hover {
  color: var(--src-code-hover);
  text-decoration: underline;
}

footer {
  color: var(--main-text-color);
  text-align: center;
  margin: 40px;
}

.footer-fixer {
  min-height: 80vh;
}

input,
textarea {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--main-border-color);
  background-color: var(--input-bg-color);
  color: var(--main-text-color);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--btn-focus-color);
}

.source-code-link-container {
  text-align: center;
  font-size: 22px;
  margin-bottom: 25px;
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 8px;
  margin: 8px;
  width: 100px;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  box-shadow: none;
  background-color: var(--btn-bg-color) !important;
  color: var(--btn-text-color);
}

.user-choice-button:active,
.user-choice-button:focus,
.user-choice-button.selected {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s, box-shadow 0.1s, background 0.1s;
}

.user-choice-button:active,
.user-choice-button:focus {
  transform: scale(0.9);
  background: linear-gradient(145deg, #c084d3, #d6a5e1);
}

.user-choice-button.selected {
  background-color: #bb78d7;
  border-color: #a94ec3;
  transform: scale(0.95);
}

/* Custom button for showing rules */
.show-rules-btn {
  width: 200px;
}

/* App specific styling */
.game-container {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.user-choice-buttons-container img {
  max-width: 40px;
}

.versus-result-text {
  font-size: 22px;
}

/* Table styling */
.score-table {
  margin: 0 auto 30px;
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  font-size: 1.1em;
}

.score-table td {
  padding: 10px;
  border-bottom: 1px solid var(--main-text-color);
  text-align: left;
  color: var(--main-text-color);
}

.score-table tr:last-child td {
  border-bottom: none;
}

/* Placeholder for computer emoji to avoid shifting */
.computer-emoji-placeholder {
  height: 120px;
  max-width: 120px;
  visibility: hidden;
}

/* Rules Container Styling */
.rules-container {
  background-color: #fff;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.collapse.show .rules-container {
  max-height: 500px;
}
